
  body {
    background-color:rgb(114, 159, 207);
  }
  

input[type=text] {
        box-sizing:border-box;
        padding:8px;
    }
    input[type=password] {
        box-sizing:border-box;
        padding:8px;
    }

    input[type=text]:focus{
        box-shadow: 0 0 8px 0 rgb(114, 159, 207);
    }
    input[type=password]:focus{
        box-shadow: 0 0 8px 0 rgb(114, 159, 207);
    }